.illustration {
    width: 100%;
    padding-top: 30px;
}
.wizard-wrapper {
    height: 100vh;
    overflow: hidden;
}
.step-wrapper {
    padding: 80px 0;
}

.btn-primary {
    background-color: #D74C6F;
    color: #fff !important;
    padding: 10px;
    min-width: 150px;
    border-radius: 40px;
    text-align:center !important;
    outline: none !important;
    box-shadow: none;
}

.btn-secondary {
    background-color: gray;
    color: #fff !important;
    padding: 15px;
    min-width: 150px;
    border-radius: 40px;
    text-align:center !important;
    outline: none !important;
    box-shadow: none;
}

.btn-primary-rounded {
    background-color: #D74C6F;
    color: #fff !important;
    border-radius: 40px 40px 40px 0;
    padding: 15px;
    width: 170px;
    text-align:center !important;
}

.step-input {
    height: 70px !important;
    width: 350px !important;
    border-radius: 40px 40px 40px 0 !important;
    padding: 20px !important;
}

form {
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .calendar__item {
    display: block !important;
}
}

#card-element {
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: gray 1px solid;
    border-radius: 3rem;
    padding: 1rem;
}

#payment-form {
    text-align: center;
}

.payment-plan-container {
    margin: 0 -1rem;
}

.payment-plan-options {
    padding: 1rem;
    border: gray 1px solid;
    border-radius: 1rem;
    margin: 0 1rem;
    flex-grow: 1;
    text-align: center;

    transition: border ease-in 300ms;
}

.payment-plan-options.selected {
    border: gray 3px solid;
}